<div style="cursor: pointer;">
  <p (click) = "forecastService.setSearched()">
    <strong> << Back </strong>
  </p>
</div>

<div>
  <h3>Three days Forecast for {{forecastService.data.city_name}}
  , {{forecastService.data.state_code}}
  , {{forecastService.data.country_code}}.</h3>
</div>

<div style="display: flex;">
  <mat-card class="daily" *ngFor="let item of forecastService.array">
    <div>
      <p>Date: {{item.valid_date}}</p>
    </div>
    <div style="display: flex;">
      <p> Max Temp: {{item.max_temp}}°C</p>
      <p class="min_temp"> Min Temp: {{item.min_temp}}°C</p>
    </div>
    <div>
      <p>{{item.weather.description}}</p>
      <img src="assets/icons/{{item.weather.icon}}.png" alt="">
    </div>
    <div>
      <p>SunRise: {{item.sunrise_ts * 1000 | date:'mediumTime'}}</p>
      <p>SunSet: {{item.sunset_ts * 1000 | date:'mediumTime'}}</p>
    </div>
  </mat-card>
</div>
