<app-navbar></app-navbar>

<div style="height: 80%;">
  <mat-card class="card">
    <app-search *ngIf="!this.forecastService.searched"></app-search>
    <app-forecast *ngIf="this.forecastService.searched"></app-forecast>
  </mat-card>
</div>

<footer class="footer"></footer>
