  <h4>Serach city weather</h4>
  <mat-form-field appearance="fill" class="input">
    <mat-label>Select City</mat-label>
    <mat-select [(value)]="selected">
      <mat-option *ngFor="let city of cities" [value]="city.value">
        {{city.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="button" mat-raised-button color="primary"
          (click)="searchCity()"
          [disabled]="!selected">
        Search!
  </button>

  <form class="example-form" *ngIf="selected === 'other'">
    <mat-form-field class="example-full-width input">
      <mat-label>Type other city</mat-label>
      <input matInput [(ngModel)]="written" name="written" required>
      <mat-hint *ngIf="this.error" class="error">
        Unable to retrive data for the selected location.
      </mat-hint>
      <mat-error *ngIf="city.invalid">
        City name is required.
      </mat-error>
    </mat-form-field>
  </form>
